<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <script  src="{% static "js/bootstrap.min.js" %}" ></script>

</head>
<body>

  欢迎登录，请输入用户名和密码
  <form method="post" action="/index/">
  <p>姓名：<input type="text" name="username" size="10"></p>
  <p>密码：<input type="password" name="password" size="10"></p>
  <div style="color: red"> {{error}} </div>

     <p><input type="submit" value="确定">
     <input type="reset" value="取消"></p>
  </form>
  {% csrf_token %}
</body>
</html>