{% extends "base.html" %}
{% block base %}

    <div style="height: 800px; background-image: url(http://assets.youzhan.org/img/d/dd/2de797545de56274f03a5920eb3a1.jpg)">
    <div class="container">

      <form class="container"
            style="width: 340px;margin-top: 160px;"
            action="/index/" method="post">
        <h2 class="form-signin-heading" style="text-align: center">测试平台</h2>
        <label for="inputUsername" class="sr-only">账号</label>
        <input type="text" id="inputUsername" class="form-control"  name="username" placeholder="账号" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" class="form-control"   name="password" placeholder="密码" required>
        <div style="color: red; margin-top: 10px;">
            {{ error }}
        </div>
        <button class="btn btn-lg btn-primary btn-block" style="margin-top: 15px;"
                type="submit">登录</button>
        {% csrf_token %}
      </form>

    </div>


{% endblock %}